<div class="apart-item">
  <div class="apart-slider">
    <div class="slider-container">
      <div *ngFor="let slide of apartment.images; let i = index"
           class="slider-slide"
           [class.active]="i === currentSlide">
        <img [src]="slide" [alt]="'photo of apartment ' + (i + 1)">
      </div>
    </div>
    <div *ngIf="apartment.isShortTerm" class="rental-badge">
      {{ 'Посуточно' }}
    </div>
    <div *ngIf="apartment.isLongTerm" class="rental-badge green" [class.long-term]="apartment.isLongTerm && apartment.isShortTerm">
      {{ 'Долгосрочно' }}
    </div>
    <button class="slider-prev" type="button" (click)="prevSlide()">❮</button>
    <button class="slider-next" type="button" (click)="nextSlide()">❯</button>

    <div class="slider-dots">
      <span *ngFor="let slide of apartment.images; let i = index"
            class="slider-dot"
            [class.active]="i === currentSlide"
            (click)="goToSlide(i)"></span>
    </div>
  </div>

  <div class="apart-item-text">
    <div class="apart-name">{{ apartment.name }}</div>
    <div class="address-block">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
        <path fill="#ff9d5b"
              d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"/>
      </svg>
      <div class="apart-address" [textTruncate]="30">{{apartment.address}}</div>
    </div>
    <div class="apart-info">
      <div class="apart-type">{{ apartment.rooms }}-комн. кв.</div>
      <div class="apart-size">{{ apartment.area }} м<sup>2</sup></div>
    </div>
  </div>

  <div class="apart-item-action">
    <div class="apart-price">
      <span>от</span>
      {{ apartment.price  }} ₽/<span>{{ apartment.isLongTerm && !apartment.isShortTerm ? 'мес' : 'сутки' }}</span>
    </div>
    <button class="info-btn" (click)="goToApartmentPage()">
      Подробнее
    </button>
  </div>
</div>
